@charset "utf-8";

.table_area{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.Table{
		width:80%;
		border-collapse: collapse;
		margin: 30px auto;
	}
	.Table td,
	.Table th{
		text-align: center;
		border-bottom:1px solid rgba(52,49,72,0.15);
		padding: 10px;
	}	

	.Table thead tr{
		background: rgba(52,49,72,1.00);
		color:#fff;
	}
	
	.Table tbody tr:nth-child(even){
		background: rgba(52,49,72,0.15);
	}
	
	

	


